

.w3-theme {color:#fff !important;background-color:#3f51b5 !important}
.w3-theme-light {color:#000 !important;background-color:#e8eaf6 !important}
.w3-theme-dark {color:#fff !important;background-color:#1a237e !important}

.w3-theme-l5 {color:#000 !important;background-color:#e8eaf6 !important}
.w3-theme-l4 {color:#000 !important;background-color:#c5cae9 !important}
.w3-theme-l3 {color:#000 !important;background-color:#9fa8da !important}
.w3-theme-l2 {color:#fff !important;background-color:#7986cb !important}
.w3-theme-l1 {color:#fff !important;background-color:#5c6bc0 !important}
.w3-theme-d1 {color:#fff !important;background-color:#3949ab !important}
.w3-theme-d2 {color:#fff !important;background-color:#303f9f !important}
.w3-theme-d3 {color:#fff !important;background-color:#283593 !important}
.w3-theme-d4 {color:#fff !important;background-color:#1a237e !important}

.w3-theme-action {color:#fff !important;background-color:#311b92 !important}
.w3-text-theme {color:#1a237e !important}


  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navb {
    
    background-color: #333;

  }
  #navb {
    display: flex;
    justify-content: space-between;
    padding: 0px 130px 0px 130px;
    z-index: 1;
  }
  #navb a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
   #navb a.submen{
       color:black;
       background-color: transparent;
   }
  
  #navb a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navb a.active {
    background-color:#343a40;
    color: white;
    font-size: 2rem;
    padding: 0;
  }
  #navb a.icono{
    padding: 12px 10px 0px 0px;
    background-color:#343a40;
  }
  .navbar{
      padding:0;
  }
  .content {
    padding: 16px;
  }
  #bodys{
    background-color: #f7f7f7;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }
  .recicla {
    max-width: 50%;
    height: auto;
    }

#buscador{
 
        background-color: rgb(222 222 222);
        border: solid;
        border-width: thin;
        border-color: beige;
        box-shadow: aliceblue;
    
}
#btnbuscar{
    margin: 0 auto;
    background-color: #5a5252;
    border-color: black;
    width: 80%;
}